<div class="container my-5 py-5">
    <div class="row align-items-center">
        <div class="col-lg-6">
            <div class="mb-5 mb-lg-0 text-center text-lg-start">
                <h1 class="display-1 mb-3 fw-medium">Find your Dream Job.</h1>
                <p class="fw-normal mb-5">JobQuest: Empowering Your Journey, Connecting Talent with Opportunities for a Fulfilling Career Ahead</p>
                <div class="d-flex flex-column flex-lg-row align-items-center">
                    <a href="/all-jobs" class="btn btn-jobseeker me-md-4 me-0 mb-md-0 mb-3">Explore Jobs</a>
                    <a href="/login" class="btn btn-primary btn-recruiter">Are you a Recruiter?</a>
                </div>
            </div>
        </div>
       
        <div class="col-lg-6">
            <img class="img-fluid" src="/images/job-home.webp" alt="JobQuest">
        </div>
    </div>
</div>